<h3 class="sub-header">API Endpoints with Example Output</h3>

<br/>
<h4 id="entry-path">Catalog Entry &mdash; Single Field</h4>
<p>
  If you need a specific value from the catalog entry, query it directly to avoid parsing.
  <em><a href="#entry-json">Refer to the JSON example below for field paths</a>.</em>
</p>

<div class="form-group">
  <div class="input-group blue">
  <span class="input-group-addon">
    <strong>GET</strong>
  </span>
    <%= code_control('endpoint oneline', '/catalog-api/<name>/<tag>.txt?p=<path>') %>
  </div>
</div>

<div class="form-group" style="margin-bottom: 5px;">
  <label class="control-label">Example</label>
  <div class="input-group black">
  <span class="input-group-addon">
    <i class="fa fa-terminal"></i>
  </span>
    <%= code_control('terminal oneline', "curl -s #{request.base_url}/catalog-api/java/jdk8.txt?p=download_links.rpm") %>
  </div>
</div>

<pre>http://download.oracle.com/otn-pub/java/jdk/8u111-b14/jdk-8u111-linux-x64.rpm</pre>

<br/>
<h4 id="entry-json">Catalog Entry &mdash; JSON</h4>
<p><em><strong>Tip:</strong> Click an entry in the Catalog to see its specific output.</em></p>

<div class="form-group">
  <div class="input-group blue">
  <span class="input-group-addon">
    <strong>GET</strong>
  </span>
    <%= code_control('endpoint oneline', '/catalog-api/<name>/<tag>.json') %>
  </div>
</div>

<div class="form-group" style="margin-bottom: 5px;">
  <label class="control-label">Example</label>
  <div class="input-group black">
  <span class="input-group-addon">
    <i class="fa fa-terminal"></i>
  </span>
    <%= code_control('terminal oneline', "curl -s #{request.base_url}/catalog-api/java/jdk8.json") %>
  </div>
</div>

<pre>{
  "name": "java",
  "tag": "jdk8",
  "version": "8u111-b14",
  "version_parsed": {
    "major": "8",
    "minor": "111",
    "build": "14"
  },
  "version_segments": [
    "8",
    "111",
    "14"
  ],
  "version_updated": "2016-11-20",
  "version_checked": "2016-11-20",
  "download_links": {
    "rpm": "http://download.oracle.com/otn-pub/java/jdk/8u111-b14/jdk-8u111-linux-x64.rpm",
    "tgz": "http://download.oracle.com/otn-pub/java/jdk/8u111-b14/jdk-8u111-linux-x64.tar.gz",
    "dmg": "http://download.oracle.com/otn-pub/java/jdk/8u111-b14/jdk-8u111-macosx-x64.dmg",
    "exe": "http://download.oracle.com/otn-pub/java/jdk/8u111-b14/jdk-8u111-windows-x64.exe"
  },
  "external_links": [
    {
      "name": "Releases",
      "href": "http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html"
    }
  ],
  "command_samples": {
    "curl_download": "curl -LOH 'Cookie: oraclelicense=accept-securebackup-cookie' 'http://download.oracle.com/otn-pub/java/jdk/8u111-b14/jdk-8u111-linux-x64.rpm'",
    "wget_download": "wget --no-check-certificate --no-cookies --header 'Cookie: oraclelicense=accept-securebackup-cookie' 'http://download.oracle.com/otn-pub/java/jdk/8u111-b14/jdk-8u111-linux-x64.rpm'"
  },
  "catalog_type": "Catalog::OracleJava",
  "api_revision": 1
}</pre>
